// *这里是公共样式*

.navs {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    margin-right: 1em;
  }
}

//标题的背景色
.title {
  background: rgba(0, 0, 0, 0);
}

//每个Flex的浅色边框
.flexborder{  
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.04);
  // background: rgb(255, 254, 254);
  padding: 32px;
  margin:0 0 16px 0 ;

}

//点击显示代码, 展开的Paragraph的样式,whiteSpace: 'pre-wrap'文本中的空格和换行会被保留
.codeText{
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.08);
  white-space: pre-wrap;
  border-color: rgba(0, 0, 0, 0.04);
  padding-left: 24px;
  padding-bottom: 24px;
  width:100% ;
  margin:8px 0 0 0 ;
  background-color: rgba(100, 30, 30, 0.04);  
}

.delBoxShadow{
  border: none !important;
}










